<%- include('./partials/header'); -%>

<div class='main-section'>
  <div class='quote-container'>
    <form action="/" method="post">
      <div>
        <h1>Two Part Joke</h1>
        <h2>'<%= setup %>'</h2>
        <h2>'<%= delivery %>'</h2>
      </div>

      <div class="submit-btn">
        <button type="submit" class="btn btn-primary joke-btn">👉 Next Joke</button>
      </div>

    </form>

  </div>
</div>

<%- include('./partials/footer'); -%>
