body {
  background-color: rgb(13, 17, 23);
  color: #d19a66;
}

.main-section {
  display: flex;
  justify-content: center;
  margin: 15% 20% 0;
}

.quote-container {
  text-align: center;
}

.quote-container h1 {
  font-size: 70px;
}

.quote-container h2 {
  color: #dbedf3;
  font-size: 60px;
}

.submit-btn {
  margin-top: 20px;
}

.joke-btn {
  font-size: 40px;
}
